<table class="w-full mb-4">
  <thead>
    <tr class="border-b border-white/5">
      <th
        *ngFor="let column of columns"
        class="px-6 py-4 text-xs font-medium"
        [ngClass]="getColumnAlignment(column)"
        [style.color]="getHeaderColor(column)"
      >
        {{ column.header }}
      </th>
    </tr>
  </thead>

  <tbody>
    <tr
      *ngFor="let row of data; let i = index; let last = last"
      class="transition-colors"
      [style.background-color]="getRowBackground(i)"
    >
      <td
        *ngFor="let column of columns"
        class="px-6 py-4 text-sm"
        [ngClass]="getColumnAlignment(column)"
      >
        <!-- Cache cell content -->
        <ng-container
          *ngIf="getCellContent(column, row) as cell"
          [ngSwitch]="cell.type"
        >
          <!-- TEXT -->
          <span *ngSwitchCase="'text'" [style.color]="getCellColor(column)">
            {{ cell.value }}
          </span>

          <!-- TREND -->
          <div
            *ngSwitchCase="'trend'"
            class="flex flex-col gap-1"
            [ngClass]="{
              'items-end text-right': column.align === 'right',
              'items-start text-left': column.align === 'left',
              'items-center text-center': column.align === 'center'
            }"
          >
            <!-- Main value -->
            <span class="text-white/90">
              {{ cell.value  }}
            </span>

            <!-- Arrow + % -->
            <div
              class="flex items-center gap-1"
              [ngClass]="{
                'justify-end': column.align === 'right',
                'justify-start': column.align === 'left',
                'justify-center': column.align === 'center'
              }"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="h-3.5 w-3.5"
                [style.color]="getTrendColor(cell.trend?.color)"
              >
                <ng-container *ngIf="cell.trend?.direction === 'up'">
                  <path d="M12 19V5" />
                  <path d="m5 12 7-7 7 7" />
                </ng-container>

                <ng-container *ngIf="cell.trend?.direction === 'down'">
                  <path d="M12 5v14" />
                  <path d="m19 12-7 7-7-7" />
                </ng-container>
              </svg>

              <span
                class="text-xs font-medium"
                [style.color]="getTrendColor(cell.trend?.color)"
              >
                {{ cell.trend?.value }}
              </span>
            </div>
          </div>
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>
