<div
  class="card-style flex flex-col gap-6 h-full transition-all duration-300 relative overflow-hidden"
>
  <div class="absolute top-0 left-0 w-1 h-full status-bar-left"></div>
  
  <div>
    <div class="flex flex-row items-center">
      <p>{{ CompanyName() }}</p>
      
      <div class="ms-auto">
        <span
          data-slot="badge"
          class="period-badge inline-flex items-center justify-center rounded-md border px-2 py-0.5 text-xs font-medium w-fit whitespace-nowrap gap-1 transition-[color,box-shadow] overflow-hidden shrink-0"
        >
          {{ period() }}
        </span>
      </div>
    </div>
    
    <div class="metric_value mt-1 mb-1">
      {{ metric() }}
    </div>
    
    @if(trend()){
      <div class="flex flex-row items-center">
        @if (trend()?.positive) {
          <div class="flex items-center gap-1 text-xs trend-positive-color">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-trending-up h-3 w-3"
              aria-hidden="true"
            >
              <path d="M16 7h6v6"></path>
              <path d="m22 7-8.5 8.5-5-5L2 17"></path>
            </svg>
            <span>{{ trend()?.trend | textFormatter:5}}%</span>
          </div>
        } @else {
          <div class="flex items-center gap-1 text-xs trend-negative-color">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-trending-down h-3 w-3"
              aria-hidden="true"
            >
              <path d="M16 17h6v-6"></path>
              <path d="m22 17-8.5-8.5-5 5L2 7"></path>
            </svg>
            <span>{{ trend()?.trend | textFormatter:5}}%</span>
          </div>
        }
      </div>
    }
  </div>
</div>