.card-style{
    background: rgba(255, 255, 255, 0.016);
    backdrop-filter: blur(16px);
    border-color: rgba(255, 255, 255, 0.024);
    border-radius: 18px;
    border-width: 1px;
    box-shadow: none;
    padding: 30px;

}