<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="flex flex-row items-center">
          <i class="material-icons self-start me-2">open_in_new</i>
          <h4>References & Sources</h4>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    @for (ref of refData(); track $index) {
    <div class="flex flex-row items-center gap-4">
      <div class="!text-sm flex-shrink-0">{{ ref.companyName }}</div>
      <div class="flex flex-row gap-4 flex-wrap items-center">
        @for (link of ref.quarterlyLinks; track $index) {
        <a target="_blank" [href]="link.link" class="hover:underline">
          <span class="text-xs">{{ link.linkFilingType }}</span>
          <span class="text-sm"> {{ link.linkPeriod }} </span>
        </a>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-external-link h-3 w-3 opacity-50"
          aria-hidden="true"
        >
          <path d="M15 3h6v6"></path>
          <path d="M10 14 21 3"></path>
          <path
            d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
          ></path>
        </svg>
        }
      </div>
    </div>
    }
  </mat-expansion-panel>
</mat-accordion>
