<div class="segment-table-container">
  <h2 class="table-title">
    Revenue by Segment
    <span class="info-icon">
      <i class="material-icons">info</i>
    </span>
  </h2>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Segment Name Column -->
    <ng-container matColumnDef="segment_name">
      <th mat-header-cell *matHeaderCellDef class="text-primary">
        Segment
      </th>

      <td mat-cell *matCellDef="let element" class="segment-cell">
        <div
          class="segment-content"
          [style.padding-left]="getIndentation(element.level)"
        >

          <!-- Static Icon (no click or toggle) -->
          @if (element.expandable) {
         <span> <i class="material-icons" >subdirectory_arrow_right</i></span>
          } @else {
          <span class="spacer"></span>
          }

          <!-- Segment Name -->
          <span class="segment-name text-secondary">
            {{ element.segment_name }}
          </span>
        </div>
      </td>
    </ng-container>

    <!-- Value Column -->
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef class="text-primary">
        Revenue
      </th>

      <td mat-cell *matCellDef="let element" class="value-cell">
        <span class="text-secondary font-weight-bold">
          {{ element.value }}
        </span>
      </td>
    </ng-container>

    <!-- Table Rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="data-row"
      [class.level-0]="row.level === 0"
      [class.level-1]="row.level === 1"
      [class.level-2]="row.level === 2"
      [class.level-3]="row.level === 3"
      [class.level-4]="row.level === 4"
    ></tr>
  </table>
</div>
