<div class="flex flex-col items-center justify-center">
  
    <mat-spinner class="mb-4" [diameter]="60"></mat-spinner>
  

  <div class="text-center mb-6">
    <h1 class="mb-2 text-2xl font-semibold">{{ loaderMessage() }}</h1>
    <p class="text-gray-600">{{ description() }}</p>
  </div>

  <div class="steps-container flex flex-col items-center min-h-[200px]">
    @for (step of stepWiseInfo(); track $index) { 
      @if ($index < visibleSteps()) {
        <div class="flex flex-row items-center gap-2 slide-up mb-2">
          <i class="material-icons text-blue-600 self-start">{{ step.icon }}</i>
          <p class="text-center">{{ step.step_name }}</p>
        </div>
      } 
    }
  </div>
</div>