@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
 @include mat.progress-spinner-overrides((
    active-indicator-color:red
  ));
}

.steps-container {
  margin-top: 20px;
}

.step-item {
  display: flex;
  align-items: center;
  gap: 12px;
  opacity: 0;
  transform: translateY(20px);
  
  
}

.slide-up {
  animation: slideUp 0.3s ease-in-out forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

