<div class="flex flex-wrap justify-around gap-8 w-full">
  <!-- PARENTS -->
  @for (legend of data.legends; track legend.name) {
  <div class="space-y-0.5 w-full sm:w-[300px] max-w-[450px]">
    <!-- Parent Row -->
    <div
      class="flex items-center gap-2 px-2 py-1.5 rounded cursor-pointer hover:bg-white/5 border-l-4 legend-parent"
      [style.border-color]="legend.color"
    >
      <div
        class="h-3 w-3 rounded flex-shrink-0"
        [style.background]="legend.color"
        [style.boxShadow]="legend.color + '60 0px 0px 8px'"
      ></div>

      <span class="flex-1 text-[11px] font-semibold legend-name">
        {{ legend.name }}
      </span>

      <span class="text-[10px] font-semibold legend-percentage" [style.color]="legend.color">
        {{ round(legend.percentage) }}%
      </span>

      <span class="text-[9px] legend-amount">
        ${{ legend?.value ? legend.value.toFixed(2) : 'N/A' }}B
      </span>
    </div>

    <!-- CHILDREN -->
    @if (legend.children?.length) {
    <div
      class="ml-6 pl-3 space-y-0.5 border-l-1 border-neutral-400"
      [style.border-color]="legend.color + '30'"
    >
      @for (child of legend.children; track child.name) {
      <div
        class="flex items-center gap-2 px-2 py-1 rounded cursor-pointer hover:bg-white/5 legend-child"
      >
        <div
          class="h-2 w-2 rounded-sm flex-shrink-0"
          [style.background]="child.color"
          [style.boxShadow]="child.color + '50 0px 0px 6px'"
        ></div>

        <span class="flex-1 text-[10px] child-name">
          {{ child.name }}
        </span>

        <span class="text-[9px] font-medium child-percentage" [style.color]="child.color">
          {{ round(child.percentage) }}%
        </span>

        <span class="text-[9px] child-amount">
          ${{ child.value ? child.value.toFixed(2) : 'N/A' }}B
        </span>
      </div>
      }
    </div>
    }
  </div>
  }
</div>