<div class="w-screen h-screen">
  <mat-toolbar class="border-r border-neutral-900">
    <!-- Menu button on the left -->

    <svg
      width="32"
      height="32"
      viewBox="0 0 48 48"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect
        x="6"
        y="28"
        width="5"
        height="14"
        rx="1"
        stroke="#94a3b8"
        stroke-width="1.5"
      ></rect>
      <rect
        x="13"
        y="22"
        width="5"
        height="20"
        rx="1"
        stroke="#94a3b8"
        stroke-width="1.5"
      ></rect>
      <rect
        x="20"
        y="16"
        width="5"
        height="26"
        rx="1"
        stroke="#94a3b8"
        stroke-width="1.5"
      ></rect>
      <rect
        x="27"
        y="24"
        width="5"
        height="18"
        rx="1"
        stroke="#94a3b8"
        stroke-width="1.5"
      ></rect>
      <circle
        cx="39"
        cy="18"
        r="8"
        stroke="#94a3b8"
        stroke-width="1.5"
      ></circle>
      <path
        d="M 39 18 L 39 10 A 8 8 0 0 1 46.66 20 Z"
        stroke="#94a3b8"
        stroke-width="1.5"
        fill="none"
      ></path>
      <path
        d="M 39 18 L 46.66 20 A 8 8 0 0 1 35.34 24.93 Z"
        stroke="#94a3b8"
        stroke-width="1.5"
        fill="none"
      ></path>
    </svg>

    <!-- App title/logo -->
    <div class="flex flex-col ms-2 me-auto">
      <h4 class="ms-5">FinSight Analytics</h4>
      <h5 class="ms-5" style="font-size: 12px">
        Financial Intelligence Dashboard
      </h5>
    </div>

    <!-- Spacer to push content to the right -->
    <span class="spacer"></span>

    <button
      data-slot="sheet-trigger"
      class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg:not([class*='size-'])]:size-4 shrink-0 [&amp;_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive dark:hover:bg-accent/50 h-8 rounded-md px-3 has-[&gt;svg]:px-2.5 gap-2 text-white/60 hover:text-white hover:bg-white/[0.05]"
      type="button"
      aria-haspopup="dialog"
      aria-expanded="false"
      aria-controls="radix-:r0:"
      data-state="closed"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-history h-4 w-4"
        aria-hidden="true"
      >
        <path d="M3 12a9 9 0 1 0 9-9 9.75 9.75 0 0 0-6.74 2.74L3 8"></path>
        <path d="M3 3v5h5"></path>
        <path d="M12 7v5l4 2"></path></svg
      ><span class="hidden sm:inline">History</span>
    </button>

    <!-- Theme toggle on the right -->
    <!-- <div class="ms-auto">
      <mat-icon (click)="toggleTheme()">{{
        isDarkTheme ? "dark_mode" : "light_mode"
      }}</mat-icon>
    </div> -->
  </mat-toolbar>
  <mat-drawer-container class="drawer-container" autosize>
    <mat-drawer
      opened="true"
      class=""
      #drawer
      style="border-radius: 0"
      mode="side"
    >
      <div class="h-full drawer rounded-none">
        <app-quary-box (dataReady)="showData()"></app-quary-box>
      </div>
    </mat-drawer>

    <div class="h-full content">
      <div class="p-5">
        <!-- content -->

        @if( isDataAvailable ){
        <div class="flex flex-row align-center" style="margin-bottom: 32px">
          <div>
            <h1 class="!text-2xl">
              @for(company of companies; track $index ){
              {{ company }}@if($index < companies.length-1){ , } }
            </h1>

            <p>Quarterly Metric comparison</p>
          </div>

          <div class="ms-auto">
            <button
              data-slot="dialog-trigger"
              class="ms-2 inline-flex items-center justify-center whitespace-nowrap text-sm font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg:not([class*='size-'])]:size-4 shrink-0 [&amp;_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive bg-primary text-primary-foreground hover:bg-primary/90 h-8 rounded-md px-3 has-[&gt;svg]:px-2.5 gap-2"
              type="button"
              aria-haspopup="dialog"
              aria-expanded="false"
              aria-controls="radix-:r9:"
              data-state="closed"
              style="
                background-color: rgb(156, 163, 175);
                color: rgb(0, 0, 0);
                border-radius: 8px;
                font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Display',
                  Inter, sans-serif;
                font-weight: 500;
                text-transform: none;
                letter-spacing: normal;
              "
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-plus h-4 w-4"
                aria-hidden="true"
              >
                <path d="M5 12h14"></path>
                <path d="M12 5v14"></path></svg
              >Add Metric
            </button>

            <button
              data-slot="button"
              class="ms-2 inline-flex items-center justify-center whitespace-nowrap text-sm font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg:not([class*='size-'])]:size-4 shrink-0 [&amp;_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive border bg-background dark:bg-input/30 dark:border-input dark:hover:bg-input/50 h-8 rounded-md px-3 has-[&gt;svg]:px-2.5 gap-2 border-white/10 text-white/70 hover:text-white hover:bg-white/[0.05]"
              style="
                font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Display',
                  Inter, sans-serif;
              "
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-download h-4 w-4"
                aria-hidden="true"
              >
                <path d="M12 15V3"></path>
                <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                <path d="m7 10 5 5 5-5"></path></svg
              >Export to Excel
            </button>
          </div>
        </div>

        <div
          style="padding: 0px 10px"
          class="pill-container rounded-md p-1 flex gap-1 mb-4"
        >
          <!-- Option 1 -->
          <button
            (click)="selectOption('cards')"
            [ngClass]="{
              active: isSelected('cards'),
              inactive: !isSelected('cards')
            }"
            class="px-6 py-2 rounded-md font-medium transition-all duration-300 flex items-center gap-2"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-layout-grid h-4 w-4"
              aria-hidden="true"
            >
              <rect width="7" height="7" x="3" y="3" rx="1"></rect>
              <rect width="7" height="7" x="14" y="3" rx="1"></rect>
              <rect width="7" height="7" x="14" y="14" rx="1"></rect>
              <rect width="7" height="7" x="3" y="14" rx="1"></rect>
            </svg>
            <div>cards</div>
          </button>

          <!-- Option 2 -->
          <button
            (click)="selectOption('line')"
            [ngClass]="{
              active: isSelected('line'),
              inactive: !isSelected('line')
            }"
            class="px-6 py-2 rounded-md font-medium transition-all duration-300 flex items-center gap-2"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-trending-up h-4 w-4"
              aria-hidden="true"
            >
              <path d="M16 7h6v6"></path>
              <path d="m22 7-8.5 8.5-5-5L2 17"></path>
            </svg>
            <div>line</div>
          </button>

          <button
            (click)="selectOption('bar')"
            [ngClass]="{
              active: isSelected('bar'),
              inactive: !isSelected('bar')
            }"
            class="px-6 py-2 rounded-md font-medium transition-all duration-300 flex items-center gap-2"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-chart-column h-4 w-4"
              aria-hidden="true"
            >
              <path d="M3 3v16a2 2 0 0 0 2 2h16"></path>
              <path d="M18 17V9"></path>
              <path d="M13 17V5"></path>
              <path d="M8 17v-3"></path>
            </svg>
            <div>Bar</div>
          </button>

          <button
            (click)="selectOption('table')"
            [ngClass]="{
              active: isSelected('table'),
              inactive: !isSelected('table')
            }"
            class="px-6 py-2 rounded-md font-medium transition-all duration-300 flex items-center gap-2"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-table h-4 w-4"
              aria-hidden="true"
            >
              <path d="M12 3v18"></path>
              <rect width="18" height="18" x="3" y="3" rx="2"></rect>
              <path d="M3 9h18"></path>
              <path d="M3 15h18"></path>
            </svg>
            <div>Table</div>
          </button>
        </div>

        @if(currentTab =='cards'){
        <div class="space-y-4">
          @for (item of cardView; track $index) {
          <div>
            <!-- Metric Header -->
            <h2
              style="z-index: 9999"
              class="flex flex-row items-center font-space-mono text-lg font-semibold text-gray-900"
            >
              {{ item.metricName }}

              <small class="ml-2 cursor-pointer tooltip">
                <span class="tooltiptext text-white/60">
                  {{ item.tooltip }}
                </span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-info h-3.5 w-3.5"
                  aria-hidden="true"
                >
                  <circle cx="12" cy="12" r="10"></circle>
                  <path d="M12 16v-4"></path>
                  <path d="M12 8h.01"></path>
                </svg>
              </small>
            </h2>

            <!-- Cards Grid -->
            <div class="grid gap-4 grid-cols-3 max-w-7xl">
              @for (card of item.cards; track $index) {
              <div class="w-full">
                <app-metric-card
                  [CompanyName]="card.companyName"
                  [period]="card.period"
                  [metric]="card.metric"
                  [trend]="card.trend"
                ></app-metric-card>
              </div>
              }
            </div>
          </div>
          }
        </div>

        } @if(currentTab=='line'){ @for(chart of chartsData;track $index ) {

        <div>
          <h2
            style="z-index: 9999"
            class="flex flex-row items-center mb-4 font-space-mono text-lg font-semibold text-gray-900"
          >
            {{ chart.metric_name }}

            <small class="ml-2 cursor-pointer tooltip">
              <span class="tooltiptext text-white/60">
                {{ chart.tooltip }}
              </span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-info h-3.5 w-3.5"
                aria-hidden="true"
              >
                <circle cx="12" cy="12" r="10"></circle>
                <path d="M12 16v-4"></path>
                <path d="M12 8h.01"></path>
              </svg>
            </small>
          </h2>
          <div
            class="card_background rounded-xl"
            echarts
            [options]="chart.line_chart_config"
            style="height: 400px"
          ></div>
        </div>

        } } @if(currentTab=='bar'){ @for(chart of chartsData;track $index ) {

        <div>
          <h2
            style="z-index: 9999"
            class="flex flex-row items-center mb-4 font-space-mono text-lg font-semibold text-gray-900"
          >
            {{ chart.metric_name }}

            <small class="ml-2 cursor-pointer tooltip">
              <span class="tooltiptext text-white/60">
                {{ chart.tooltip }}
              </span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-info h-3.5 w-3.5"
                aria-hidden="true"
              >
                <circle cx="12" cy="12" r="10"></circle>
                <path d="M12 16v-4"></path>
                <path d="M12 8h.01"></path>
              </svg>
            </small>
          </h2>
          <div
            class="card_background rounded-xl"
            echarts
            [options]="chart.bar_chart_config"
            style="height: 400px"
          ></div>
        </div>

        }

        <!-- <div>
          <h2 class="flex flex-row items-center gap-2">
            Combined Ratio
            <span>
              <i [title]="'some text'" class="material-icons">info</i></span
            >
          </h2>

          <div class="chart-container" style="height: 400px; width: 100%">
            <div
              echarts
              [options]="lineChartOption"
              class="echarts-container"
            ></div>
          </div>

          <div class="chart-container" style="height: 400px; width: 100%">
            <div
              echarts
              [options]="barChartOption"
              class="echarts-container"
            ></div>
          </div>

          <div class="chart-container" style="height: 400px; width: 100%">
            <div
              echarts
              [options]="segmentRevenueOption"
              class="echarts-container"
            ></div>
          </div>

          <div class="chart-container" style="height: 400px; width: 100%">
            <div
              echarts
              [options]="sunburstOption"
              class="echarts-container"
            ></div>
          </div>
        </div> -->
        } @if(currentTab == 'table'){
        <div>
          @if(metricTableData.length > 0){
          <div class="space-y-4">
            @for(table of metricTableData;track $index){

            <h2
              style="z-index: 9999"
              class="flex flex-row items-center mb-4 font-space-mono text-lg font-semibold text-gray-900"
            >
              {{ table.metric_name }}

              <small class="ml-2 cursor-pointer tooltip">
                <span class="tooltiptext text-white/60">
                  {{ table?.tooltip }}
                </span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-info h-3.5 w-3.5"
                  aria-hidden="true"
                >
                  <circle cx="12" cy="12" r="10"></circle>
                  <path d="M12 16v-4"></path>
                  <path d="M12 8h.01"></path>
                </svg>
              </small>
            </h2>

            <app-metric-table
             
              [columns]="tableColumns"
              [data]="table.tableData"
            ></app-metric-table>

            }
          </div>
          }

          <!-- <app-segment-table></app-segment-table> -->
        </div>
        }

        <div class="flex flex-row align-center mt-5 mb-3 gap-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-sparkles h-5 w-5"
            aria-hidden="true"
            style="color: rgb(156, 163, 175)"
          >
            <path
              d="M11.017 2.814a1 1 0 0 1 1.966 0l1.051 5.558a2 2 0 0 0 1.594 1.594l5.558 1.051a1 1 0 0 1 0 1.966l-5.558 1.051a2 2 0 0 0-1.594 1.594l-1.051 5.558a1 1 0 0 1-1.966 0l-1.051-5.558a2 2 0 0 0-1.594-1.594l-5.558-1.051a1 1 0 0 1 0-1.966l5.558-1.051a2 2 0 0 0 1.594-1.594z"
            ></path>
            <path d="M20 2v4"></path>
            <path d="M22 4h-4"></path>
            <circle cx="4" cy="20" r="2"></circle>
          </svg>
          <h2 class="mb-4">AI-Powered Insights</h2>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
          @for (insight of insightsData; track $index) {
          <app-insights-card
            [icon]="insight.icon"
            [title]="insight.title"
            [description]="insight.description"
            [source]="insight.source"
          />
          }
        </div>

        <div class="mt-5">
          <app-references [refData]="referenceData" ></app-references>
        </div>

        }
      </div>

      @if(isLoaderVisible){
      <div class="flex flex-col items-center justify-center h-full">
        <app-loader-with-insights
          [loaderMessage]="'Building Dashboard'"
          [description]="'Analyzing financial data...'"
        ></app-loader-with-insights>
      </div>
      } @if(!isDataAvailable && !isLoaderVisible ){
      <div class="flex flex-col items-center justify-center h-full">
        <div class="mb-8 flex justify-center gap-3">
          <div
            class="w-14 h-14 flex items-center justify-center border"
            style="
              border-color: rgba(255, 255, 255, 0.04);
              background: rgba(255, 255, 255, 0.024);
              border-radius: 20px;
              border-width: 1px;
            "
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-chart-column w-6 h-6"
              aria-hidden="true"
              style="color: rgb(148, 163, 184)"
            >
              <path d="M3 3v16a2 2 0 0 0 2 2h16"></path>
              <path d="M18 17V9"></path>
              <path d="M13 17V5"></path>
              <path d="M8 17v-3"></path>
            </svg>
          </div>
          <div
            class="w-14 h-14 flex items-center justify-center border"
            style="
              border-color: rgba(255, 255, 255, 0.04);
              background: rgba(255, 255, 255, 0.024);
              border-radius: 20px;
              border-width: 1px;
            "
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-trending-up w-6 h-6"
              aria-hidden="true"
              style="color: rgb(148, 163, 184)"
            >
              <path d="M16 7h6v6"></path>
              <path d="m22 7-8.5 8.5-5-5L2 17"></path>
            </svg>
          </div>
        </div>

        <h1 class="mb-3">Start Your Analysis</h1>
        <p class="w-lg text-center">
          Select a sample prompt from the left panel or enter your own query to
          begin analyzing quarterly financial metrics across insurance companies
        </p>
      </div>
      }
    </div>
  </mat-drawer-container>
</div>
