<div class="w-screen h-screen">
  <mat-toolbar class="border-r border-neutral-900">
    <!-- Menu button on the left -->

    <mat-icon class="large-icon icon-color"> insert_chart</mat-icon>

    <!-- App title/logo -->
    <div class="flex flex-col ms-2">
      <h4 class="ms-5">FinSight Analytics</h4>
      <h5 class="ms-5" style="font-size: 12px">
        Financial Intelligence Dashboard
      </h5>
    </div>

    <!-- Spacer to push content to the right -->
    <span class="spacer"></span>

    <button class="ms-auto" mat-button>
      <mat-icon class="">history</mat-icon>
      History
    </button>

    <mat-icon class="large-icon">account_circle</mat-icon>

    <!-- Theme toggle on the right -->
    <!-- <div class="ms-auto">
      <mat-icon (click)="toggleTheme()">{{
        isDarkTheme ? "dark_mode" : "light_mode"
      }}</mat-icon>
    </div> -->
  </mat-toolbar>
  <mat-drawer-container class="drawer-container" autosize>
    <mat-drawer
      opened="true"
      class=""
      #drawer
      style="border-radius: 0"
      mode="side"
    >
      <div class="h-full drawer rounded-none">
        <app-quary-box></app-quary-box>
      </div>
    </mat-drawer>

    <div class="h-full content">
      <div class="p-5">
        <!-- content -->

        <div class="flex flex-row align-center">
          <div>
            <h1>Allstate,progressive</h1>

            <p>Quarterly Metric comparison</p>
          </div>

          <div class="ms-auto">
            <button class="me-2 button_color" mat-raised-button>
              <mat-icon class="">add_box</mat-icon>
              Add Metric
            </button>

            <button class="button_color" mat-raised-button>
              <mat-icon class="">download</mat-icon>
              Export
            </button>
          </div>
        </div>

        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="end">
          <mat-tab label="Card">
            <ng-template mat-tab-label>
              <i class="material-icons me-2">dashboard_customize</i>
              <div>Cards</div>
            </ng-template>

            <div class="space-y-8">
              @for (item of cardView; track $index) {
              <div>
                <!-- Metric Header -->
                <h2
                  class="flex flex-row items-center mb-4 text-lg font-semibold text-gray-900"
                >
                  {{ item.metricName }}
                  <small class="ml-2 cursor-pointer" [title]="item.tooltip">
                    <i class="material-icons text-gray-500 text-base">info</i>
                  </small>
                </h2>

                <!-- Cards Grid -->
                <div
                  class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4"
                >
                  @for (card of item.cards; track $index) {
                  <div class="w-full">
                    <app-metric-card
                      [CompanyName]="card.companyName"
                      [period]="card.period"
                      [metric]="card.metric"
                      [trend]="card.trend"
                    ></app-metric-card>
                  </div>
                  }
                </div>
              </div>
              }
            </div>

            <!-- insights section -->

            <div class="flex flex-row align-center mt-5 mb-3">
              <span class="material-icons me-2"> insights </span>
              <h2 class="">AI-Powered Insights</h2>
            </div>

            <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
              @for (insight of insightsData; track $index) {
              <app-insights-card
                [icon]="insight.icon"
                [title]="insight.title"
                [description]="insight.description"
                [source]="insight.source"
              />
              }
            </div>

            <div class="mt-5">
              <app-references></app-references>
            </div>
          </mat-tab>
          <mat-tab label="Line">
            <ng-template mat-tab-label>
              <i class="material-icons me-2">stacked_line_chart</i>
              <div>line</div>
            </ng-template>
            <div>
              <h2 class="flex flex-row items-center gap-2">
                Combined Ratio
                <i [title]="'some text'" class="material-icons">info</i>
              </h2>
              <div
                class="card_background rounded-xl"
                echarts
                [options]="lineChartOption"
                style="height: 400px"
              ></div>
            </div>
          </mat-tab>
          <mat-tab label="Bar">
            <ng-template mat-tab-label>
              <i class="material-icons me-2">bar_chart</i>
              <div>Bar</div>
            </ng-template>

            <div>
              <h2 class="flex flex-row items-center gap-2">
                Combined Ratio
               <span> <i [title]="'some text'" class="material-icons">info</i></span>
              </h2>
              <div
                class="card_background rounded-xl"
                echarts
                [options]="barChartOption"
                style="height: 400px"
              ></div>
              <div
                class="card_background rounded-xl"
                echarts
                [options]="segmentRevenueOption"
                style="height: 200px"
              ></div>
            </div>
          </mat-tab>
          <mat-tab label="Table">
            <ng-template mat-tab-label>
             <div class="flex flex-row items-center"> 
               <i class="material-icons me-2">view_list</i>
              <div>Table</div>
             </div>
            </ng-template>

            <!-- TABLE CONTENT -->
            <div>
               <app-metric-table  ></app-metric-table>
            </div>
          </mat-tab>
          <mat-tab label="Sunburst">
            <ng-template mat-tab-label>
              <i class="material-icons me-2">flare</i>
              <div>Sunburst</div>
            </ng-template>
            <div>
              <div
                class="card_background rounded-xl"
                echarts
                [options]="sunburstOption"
                style="height: 400px"
              ></div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>

      @if(false){
      <div class="flex flex-col items-center justify-center h-full">
        <app-loader-with-insights
          [loaderMessage]="'Building Dashboard'"
          [description]="'Analyzing financial data...'"
        ></app-loader-with-insights>
      </div>
      } @if(false){
      <div class="flex flex-col items-center justify-center h-full">
        <div class="flex flex-row gap-3 mb-3">
          <span class="icon-box border border-neutral-900"
            ><i class="material-icons large-icon">bar_chart</i></span
          >
          <span class="icon-box border border-neutral-900">
            <i class="material-icons large-icon">trending_up</i></span
          >
        </div>

        <h1 class="mb-3">Start Your Analysis</h1>
        <p class="w-lg text-center">
          Select a sample prompt from the left panel or enter your own query to
          begin analyzing quarterly financial metrics across insurance companies
        </p>
      </div>
      }
    </div>
  </mat-drawer-container>
</div>
