@use '@angular/material' as mat;

:host {
  // Light theme
  @include mat.sidenav-overrides((
    container-background-color: #faffff,
    container-text-color: #000000,
  ));
  @include mat.toolbar-overrides((
    container-background-color: #00a9a9,
    container-text-color: #000000,
  ));
  
  // Dark theme
  &:is(.dark-theme *) {
    @include mat.sidenav-overrides((
      container-background-color: #0a0a0c,
      container-text-color: #ffffff,
      content-background-color:#0a0a0c,
      content-text-color:#fff,
      container-width:400px
      
    ));
    @include mat.toolbar-overrides((
      container-background-color: #0a0a0c,
      container-text-color: #ffffff,
      title-text-size:14px,
      title-text-line-height:18px
    ));

    @include mat.tabs-overrides(
      (
        active-indicator-color: rgb(255, 255, 255),
        divider-color: transparent,
        active-focus-indicator-color: white,
        active-hover-indicator-color: white,
        
      )
    );

     @include mat.button-overrides((
    filled-container-color: orange,
    filled-label-text-color: red,
  ));

    
    
  }
}




.drawer-container{
height: calc(100% - 64px);
}
.large-icon {
  font-size: 32px; /* Adjust as needed */
  width: 32px;     /* Match font-size for consistent sizing */
  height: 32px;    /* Match font-size for consistent sizing */
}


.button_color{
  background-color: #94a3b8;
  color: #0a0a0c;
}





.mat-drawer{
  width: 385px;
}





.pill-container {
  outline: none;
  background-color: rgba(255, 255, 255, 0.02);
  border:1px solid rgba(255, 255, 255, 0.033);
  display: flex;
  justify-content: flex-end;
  gap: 2;
}

.pill-container button{
  flex-grow: 0;
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
   
}




button.active {
  background-color: #222;
  color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

button.inactive {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

button.inactive:hover {
  color: rgba(255, 255, 255, 0.8);
}





.history-container {
  background-color: #00000047;
  height: 100vh;
  width: 100vw;
  position: fixed;
  inset: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  
  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.history-sidebar {
  height: 100vh;
  width: 380px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 101;
  background-color: #0a0a0a;
  border: 1px solid #ffffff1a;
  
  // Animation properties
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  
  &.show {
    transform: translateX(0);
  }
}

.custom-search-box {
  border: 1px solid #ffffff14;
  border-radius: 8px;
}

.custom-search-box:focus-within {
  outline: 4px solid #ffffff14;
}

.chip {
  background-color: #ffffff0d;
}

.query {
  background-color: #ffffff05;
  border: 1px solid #ffffff0d;
  padding: 16px;
  margin-bottom: 12px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.query:hover {
  background-color: #ffffff17;
  border: 1px solid #ffffff22;
}